.movie-avatar {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
  margin-right: 16px;
}

.row-heading {
  width: 75%;
  display: inline-block;
  color: #0f172a;
  margin-top: 0;
  h2 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 900;
    font-size: clamp(1.5rem, 4vw, 1.875rem); //font-size:30px
    line-height: 41px;
  }
}

.module-heading-container {
  margin-left: 0px;
  padding-left: 30px;
  background-color: #c896d7;
  margin-bottom: 10px;
}

.module-heading{
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 22px;
  color: #475569;
}

.module {
  height: 100%;
}

.search-bar {
  width: 90%;
  margin-right: 20px;
}

.row-search {
  width: 20%;
  height: 100%;
  display: inline-block;
  margin-top: 10px;
}

.movie-card {
  display: flex;
  row-gap: 10px;
  column-gap: 10px;
  flex-wrap: wrap;
  padding-left: 40px;
  padding-bottom: 10px;
}

.mini-card {
  box-sizing: border-box;
  float: left;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 5px;
  padding: 12px 0px 24px;
  width: 200px;
  background-color: white;
  border: 1px solid #d5dce6;
  border-radius: 8px;
  box-shadow: 0px 0px 2px #4b4747;
}

.movie-image{
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.content-box {
  padding: 4px 12px;
}

.card-show-more {
  color: #752f8a;
  text-decoration: underline;
  cursor: pointer;
}

.content-details {
  padding: 16px;
}

.content-header {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  font-size: clamp(0.75rem, 4vw, 1rem); //Font-size: 16px
  font-size: 18px;
  line-height: 22px;
  color: #475569;
}

.movie-content-row {
  margin: 0px;
  width: 100%;
}

.content-value {
  font-style: normal;
  font-weight: 400;
  color: #475569;
  font-family: 'Nunito Sans'
}
