.snack-bar-container {
  color: #1f2c29;
  background: rgb(42, 159, 83);
  padding: 16px 14px;
  display: flex;
  justify-content: space-between;
  box-shadow: none;
  border-radius: 2px;
  width: 416px;

  .col-content {
    display: flex;
  }

  .col-message {
    display: flex;
    align-items: center;
    padding-left: 16px;
  }
  .col-button {
    display: flex;
    flex-direction: column-reverse;
    .action-button {
      padding: 11px 16px;
      color: #0d245b;
      background-color: azure;
    }
  }

  &.success {
    background: #07a647;
  }

  &.error {
    background: #cc3535;
  }
}
